body{color: darkblue; font-family: fantasy; background-color: azure;}
p{text-align: center;}
h1{color: cadetblue; font-size: 2em; text-align: center; font-size: 4em; font-family: cursive;}
h2{color: blueviolet; font-size: 2em; text-align: center;}
h3{color: brown; font-size: 2em; text-align: center;}
h4{color: coral; font-size: 2em;text-align: center;}
h5{color: darkmagenta; font-size: 2em; text-align: center;}

